
# lint, test, build and publish bitpanda pro sdk
# test and lint on any commit and pull request
# publish any master merge to test pypi
# release tagged commits to pypi

# gh action template: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
# gh action publishing guide: https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

name: bp-pro-sdk-release

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Set up pipenv
        uses: dschep/install-pipenv-action@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pipenv sync --dev
      - name: lint
        run: |
          pipenv run pylint --rcfile=.pylintrc --output-format=parseable --reports=n bpprosdk
      - name: test
        run: |
          pipenv run pytest --log-cli-level DEBUG
        env:
          TEST_HOST: ${{ secrets.test_api_endpoint }}
          BP_PRO_API_TOKEN: ${{ secrets.test_api_token }}
      - name: build
        run: |
          pipenv run python setup.py sdist bdist_wheel
      - name: publish test pypi
        if: github.ref == 'refs/heads/master'
        uses: pypa/gh-action-pypi-publish@v1.3.1
        with:
          password: ${{ secrets.test_pypi_password }}
          repository_url: https://test.pypi.org/legacy/
          skip_existing: true
      - name: publish pypi
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.3.1
        with:
          password: ${{ secrets.pypi_password }}

